html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

/* Navigation bar */
.Navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: black; /* This colors the navbar black */
    position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /* This makes the navbar span the entire width of the page */
    z-index: 1; /* This ensures other elements don't display over the navbar */
    -webkit-animation: moveNav 5s; /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 5s; /* This applies the moveNav animation for all other browsers */
    left: 0;
}

/* Navigation links */
.Navbar a {
    float: left; /* This specifies that the text floats on the left on the navbar */
    display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white; /* This is the font color for text on our navbar */
    padding: 14px 16px; /* This adds padding around our text */
    text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
    font-family: Candara, Helvetica; /* This specifies the font family for text on our navbar */
    font-size: 20px; /* This specifies the font size for text on our navbar */
    text-align: center; /* This centers the text within its container */
    position: relative;
}

/* Hover effect for navigation links */
.Navbar a:hover {
  background-color: #555;
  border: 1px solid white;
}

/* Set background color for the rest of the page */
body {
  background-color: #f1f1f1;
  margin-top: 80px; /* Add margin to body to avoid overlapping with navigation bar */
}
